<div class="c-task" (click)="openDialog()" (mouseenter)="change('enter')" (mouseleave)="change('leave')"
     [ngClass]="{'c-task--todo': task.type === 'todo'}">
  <div *ngIf="!showButton"   class="c-task__content flex justify-start items-center"
       [ngClass]="{'c-task__content--todo': task.type === 'todo'}">
    <div class="hidden" [ngClass]="{'hidden' : task.type === 'todo'}">
      <mat-checkbox [(ngModel)]="task.completed" (change)="completeTask()"></mat-checkbox>
    </div>
    <div>
      <div class="mb-2">
                <span class="text-sm font-medium">{{
                  task.title
                  }}</span>
      </div>
      <div class="flex justify-start items-center">
        <div class="flex justify-start items-center mr-2">
          <mat-icon class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
          <span class="text-xs font-medium">{{
            task.estimated_time
            }} min</span>
        </div>
        <div class="flex justify-start items-center gap-1">
                  <span *ngFor="let category of task.categories"
                        class=" text-white text-xs px-2 py-1 font-medium rounded-lg bg-indigo-800">{{
                    category.name
                    }}</span>

        </div>
      </div>

    </div>
  </div>
  <div *ngIf="!showButton"   class="c-task__content" [ngClass]="{'c-task__content--todo': task.type === 'todo'}">
    <div class="w-2 h-14 rounded-lg"
         [ngClass]="{'bg-green-400': task.priority === 'low', 'bg-yellow-400': task.priority === 'medium', 'bg-red-400': task.priority === 'high'}">

    </div>
  </div>
  <div *ngIf="showButton"  class=" w-full flex justify-center items-center ">
    <button mat-flat-button color="primary" (click)="goToTask()" >Empezar</button>
  </div>
</div>
