.c-badge {
    @apply text-white text-sm text-center font-bold p-2 max-content;
    .dark & {
        @apply opacity-70;
    }

    /*----- Modifiers -----*/

    /* ----- Text ----- */
    &--text-white {
        @apply text-white;
    }
    &--text-blue {
        color: #52627b;
        .dark & {
            color: $color-white;
        }
    }

    /* ----- Backgrounds ----- */
    &--bg-green-100 {
        @apply bg-green-100;
        .dark & {
            @apply bg-green-600;
        }
    }

    &--bg-primary {
        background-color: $main-color-dark1;
    }

    &--bg-indigo-400 {
        @apply bg-indigo-400;
    }
    &--bg-yellow-400 {
        @apply bg-yellow-400;
    }
    &--bg-red-100 {
        @apply bg-red-100;
        .dark & {
            @apply bg-red-200;
        }
    }
    &--bg-red-700 {
        @apply bg-red-700;
    }
    &--bg-red-400 {
        @apply bg-red-400;
        .dark & {
            @apply bg-red-600;
        }
    }
    &--bg-gray-600 {
        @apply bg-gray-600;
    }
    &--bg-blue-600 {
        @apply bg-blue-600;
    }
    &--bg-blue-500 {
        @apply bg-blue-500;
    }
    &--bg-orange-500 {
        @apply bg-orange-500;
    }
    &--bg-orange-400 {
        @apply bg-orange-400;
    }
    &--bg-green-600 {
        @apply bg-green-600;
    }
    &--bg-white {
        background: $color-white;
    }
    /* ----- Borders ----- */
    &--rounded-lg {
        @apply rounded-lg;
    }
    &--rounded-md {
        @apply rounded-md;
    }
    /*----- Opacity -----*/
    &--opacity-50 {
        @apply opacity-50;
    }
    &--opacity-80 {
        @apply opacity-80;
    }
    /* --- Shadow --- */
    &--shadow-md {
        @apply shadow-md;
    }

    &--text-xs {
        @apply text-xs;
    }
}
