.c-filter {
    @apply p-2 px-3 bg-gray-200 opacity-50 mr-3 text-black  flex justify-center items-center;
    /* *------------------------------------*\
        #Modifiers
    \*------------------------------------*/
    .dark & {
        @apply opacity-75;
    }
    &--bg-gray-200 {
        @apply bg-gray-200;
        .dark & {
            background-color: $bg-dark-light;
            color: $font-dark;
        }
    }
    &--shadow-md {
        @apply shadow-md;
    }
    &--rounded-lg {
        @apply rounded-lg;
    }

    &--bg-blue-500 {
        @apply bg-blue-500;
        .dark & {
            @apply bg-blue-500;
        }
    }

    &--bg-blue-200 {
        @apply bg-blue-200;
    }

    /* *------------------------------------*\
        #Elements
    \*------------------------------------*/
    &__label {
        @apply text-sm font-bold;
        &--white {
            @apply text-white;
        }
        &--text-blue-200 {
            color: #2d3034;
        }
    }

    &__icon {
        @apply text-black;

        &--text-gray-200 {
            .dark & {
                color: $font-dark;
            }
        }
        &--text-lg {
            @apply text-lg;
        }
        &--text-white {
            @apply text-white;
            .dark & {
                @apply text-white;
            }
        }
        &--text-blue-200 {
            color: #2d3034;
        }
    }
}
