.c-list {
    &--flex-col {
        @apply flex flex-col;
    }
    &__item {
        @apply flex justify-items-start items-center;
    }

    &__title {
        .dark & {
            color: $font-dark;
        }
        &--font-bold {
            font-weight: bold;
        }
        &--font-semibold {
            font-weight: 600;
        }
        &--text-blue {
            color: $main-color-dark1;
            .dark & {
                color: $font-dark;
            }
        }
        &--text-xl {
            font-size: 1.25rem;
        }
    }

    &__label {
        .dark & {
            color: $font-dark;
        }
        &--text-blue {
            color: $main-color-dark1;
            .dark & {
                color: $font-dark;
            }
        }
        &--font-semibold {
            font-weight: 600;
        }
        &--w-200-px {
            width: 200px;
        }
        &--w-250-px {
            width: 250px;
        }
    }
}
