/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
$vertical-bg-color: #ffffff;
$logo-btn-bg-color: #313a4a;
$body-bg-color: #f7faff;
$text-color: #52627b;
$main-color-dark1: #254275;
$color-primary-gradient: linear-gradient(140deg, #254275 0%, #4468af 64%);
$main-color-dark2: #4468af;
$main-color-light1: #a2bdd5;
$main-color-light2: #b7d9f4;
$warning-color1: #f08852;
$warning-color2: #f4d07e;
$error-color1: #903a3a;
$error-color2: #f47272;
$primary-hover: #1f3864;
$color-white: #ffffff;
$color-green: #2e7935;
$color-red-700: #b91c1c;
$color-gray-light: #efefef;
$color-gray: #e9e9e9;
$color-gray-2: #f7f7f7;
$bg-green-600: #2e7935;
$red-600: #e03d3d;
$gray-100: #d4dce6;
$gray-300: #64748b;

/*------------------------------------*\
    #DarkMode
\*------------------------------------*/
$bg-dark-gradient: linear-gradient(140deg, #1e2f54 0%, #182544 64%);
$bg-dark-light: #27344a;
$bg-dark-transparent: #40567c52;
$color-green-dark: #127035;
$bg-dark: #1e293b;
$bg-dark-full: #0f1629;
$font-dark: #cdcdcc;
$font-color-dark1: #52627b;
$bg-checkbox-dark: #92b0df;

$transition-button: all 0.3s ease-in-out;
