
<!-- HEADER -->
<header class="container mx-auto">
</header>
<!-- NAVBAR -->
<nav class="container mx-auto">
</nav>
<main class="container mx-auto py-2">
  <div class="flex justify-center items-center  ">
    <h1 class="text-2xl font-bold bg-blue-900 text-white p-2 rounded-lg">TODO LIST APP</h1>
  </div>

  <div class="grid grid-cols-3 gap-4 mt-5 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3  2xl:grid-cols-3 ">
    <!-- TODO -->
    <div class="flex flex-col justify-start ">
      <div class="flex justify-start items-start">
        <span class="mr-1 text-xl font-semibold">TODO</span>
        <span class="bg-green-600 text-white text-xs px-2 py-1 font-bold rounded-full">8</span>
      </div>
      <!-- contenedor de task -->
      <div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- DOING -->
    <div class="flex flex-col justify-start ">
      <div class="flex justify-start items-start">
        <span class="mr-1 text-xl font-semibold">TODO</span>
        <span class="bg-green-600 text-white text-xs px-2 py-1 font-bold rounded-full">8</span>
      </div>
      <!-- contenedor de task -->
      <div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- DONE -->
    <div class="flex flex-col justify-start ">
      <div class="flex justify-start items-start">
        <span class="mr-1 text-xl font-semibold">TODO</span>
        <span class="bg-green-600 text-white text-xs px-2 py-1 font-bold rounded-full">8</span>
      </div>
      <!-- contenedor de task -->
      <div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
        <div class="shadow-lg rounded-lg py-6 px-3 flex justify-between items-center">
          <div class="flex justify-start items-center">
            <div class="hidden">
              []
            </div>
            <div>
              <div class="mb-2">
                <span class="text-sm font-bold">Tarea 1</span>
              </div>
              <div class="flex justify-start items-center">
                <div class="flex justify-start items-center mr-2">
                  <mat-icon  class="mr-1 text-blue-800 scale-90">schedule</mat-icon>
                  <span class="text-xs font-medium">120 min</span>
                </div>
                <div class="flex justify-start items-center gap-1">
                  <span class="bg-indigo-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UI</span>
                  <span class="bg-pink-600 text-white text-xs px-2 py-1 font-bold rounded-lg">UX</span>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="bg-green-600 w-2 h-14 rounded-lg">

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>
<footer class="bg-blue-900    w-full text-center py-10 ">
  <span class="text-white text-sm font-medium">versión 1.0.1</span>
</footer>

