<!-- HEADER -->
<header class="container mx-auto bg-indigo-800 my-3">
  <div class="flex justify-center items-center  ">
    <h1 class="text-2xl font-bold bg-indigo-800 text-white p-2 rounded-lg">TODO LIST APP</h1>
  </div>
</header>
<!-- NAVBAR -->
<nav class="container mx-auto">
  <!-- Status -->
  <div class="my-3 gap-2 flex flex-col w-full  md:flex-row md:w-full lg:flex-row lg:w-full xl:flex-row xl:w-1/2 ">
    <div class="w-full flex justify-center items-center  rounded-lg bg-green-400 py-2">
      <span class="text-green-700 font-bold ">Prioridad Baja</span>
    </div>
    <div class="w-full flex justify-center items-center  rounded-lg bg-yellow-400 py-2">
      <span class="text-yellow-700 font-bold ">Prioridad Media</span>
    </div>
    <div class="w-full flex justify-center items-center  rounded-lg bg-red-400 py-2">
      <span class="text-red-700 font-bold ">Prioridad Alta</span>
    </div>

  </div>
  <div class="flex flex-col gap-2 justify-between items-center shadow-lg py-3 px-3 md:flex-row lg:flew-row: xxl:flew-row">
    <div class="w-full md:w-1/2 lg:w-1/2  xxl:w-1/2 ">
      <input placeholder="Buscador" class="w-full rounded-lg p-2" type="text">
    </div>
    <div class="w-full md:w-1/3 lg:w-1/6  xxl:w-1/6 ">
      <button mat-stroked-button color="primary" class="w-full">Buscar</button>
    </div>
  </div>

</nav>
<main class=" container mx-auto">

  <div
    class="grid grid-cols-3 gap-4 mt-5 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3  2xl:grid-cols-3 ">
    <!-- TODO -->
    <app-content [title]="'Todo'" type="todo" [tasks]="tasks | filterArray: 'type': 'todo' "
                 [categories]="categories"></app-content>
    <!-- DOING -->
    <app-content [title]="'Doing'" type="doing" [tasks]="tasks | filterArray: 'type': 'doing' "
                 [categories]="categories"></app-content>
    <!-- DONE -->
    <app-content [title]="'Done'" type="done" [tasks]="tasks | filterArray: 'type': 'done' "
                 [categories]="categories"></app-content>
  </div>

</main>
<footer class="bg-blue-900 hidden   w-full text-center py-10 ">
  <span class="text-white text-sm font-medium">versión 1.0.1</span>
</footer>

